---
pool: 
  name: Default
  Vmimage: 'ubuntu-20.04'
trigger:
  - master
steps:
  - script: sudo apt update
  - script: sudo apt install openjdk-11-jdk -y
  - script: sudo apt install maven -y
  - task: Maven@3
    inputs:
      mavenPOMFile: 'pom.xml'
      testResultsFiles: '**/surefire-reports/TEST-*.xml'
      JDKVersion: '1.11'
      goals: 'clean package'
      mavenDirectory: /openmrs-core